@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  margin-bottom: 3em;
  margin-top: 3em;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  background-color: white;
  color: black;
  margin-bottom: 1em !important;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.11);
}

.product__content {
  padding: 15px;
}

.product__btnContainer {
  padding-top: 1em;
  padding-bottom: 1em;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 990px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}

.cart {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
}

.cartImg {
  width: 25%;
}

.checkout {
  padding: 1em;
  margin-top: 1em;
  cursor: pointer;
  border: none;
}

.cartBtn-remove {
  background-color: rgb(255, 130, 130);
  color: white;
  border: none;
  padding: 1em;
  margin-bottom: 10px;
  cursor: pointer;
}

.cartBtn-add {
  background-color: green;
  color: white;
  border: none;
  padding: 1em;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.productBtn {
  padding: 1em;
  border: none;
  cursor: pointer;
}

.productBtn:hover, .checkout:hover {
  font-weight: bold;
  transition: .3s;
}

.cartSymbol {
  background-color: red;
  border: none;
  color: white;
  width: 1.5rem;
  margin-left: 10px;
  align-items: center;
  justify-content: baseline;
}

.header {
  background-color: black;
  height: 80px;
  align-items: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.header-links {
  align-items: center;
  margin: .5rem;
  display: flex;
}

.pageTitle {
  margin-bottom: 1em;
}

.cartInfo {
  margin-top: auto;
}

.cartButtons {
  display: flex;
}