* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 1em;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  background-color: white;
  color: black;
  margin-bottom: 1em !important;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.11);
}

.product__content {
  padding: 15px;
}

.product__btnContainer {
  padding-top: 1em;
  padding-bottom: 1em;
}

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 990px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}